@* @model List<CateringCo.Models.Locations> *@

@model CateringCo.ViewModels.LocationsListViewModel

<h1>
	Locations
</h1>
<p>
	Total Locations: <strong>@Model.TotalCount</strong> 
</p>

@if (Model.Locations == null || Model.Locations.Count == 0)
{
	<p><em>@Model.EmptyMessage</em></p>
}
else
{
	<ul>
		@foreach (var locations in Model.Locations)
		{
			<partial name="_LocationCard" model="locations" />
			@* <li>
			<strong>@locations.Name</strong>
			Located at @locations.Address
			Reach us @locations.Phone
		   </li> *@
		}
	</ul>
}
